*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
  
}

.logo{
    color: brown;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo:hover{
    color: pink;
    transition: 0,5;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navlink{
    color: blue;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
.social-media {
    width: 400px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 500px;
    margin-top: 200px;
    padding: 20px;
    justify-content: center;

}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-media-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.contact-list li, .social-media-list li {
   margin-left: 30px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.social-media-list img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.2s;
}

.social-media-list img:hover {
    transform: scale(1.2);
}


